@media only screen and (max-width:800px){
.nav-content{
width:40%;
}
.product-flex{
width:25%;
}
.search-flex{
width:33.3%;
}
.footer-flex{
width:33.3%;
}
}
@media only screen and (max-width:600px){
.content-wrapper{
padding:0;
padding-top:65px;
padding-bottom:65px;
box-shadow:none;
}
#search{
display:none;
}
.notif-content{
width:100%;
}
.nav-content{
width:50%;
}
#onlymobile{
display:block;
}
.more-app{
display:none;
}
.search-flex{
width:50%;
}
.product-flex{
width:33.3%;
}
.product-btn a, #moreless-button, #topup-button, #second-button{
width:100%;
}
.topup-flex{
width:100%;
}
.footer{
display:none;
}
.menu-mobile{
display:block;
}
}
@media only screen and (max-width:400px){
.nav-content{
width:60%;
}
.product-flex{
width:50%;
}
.search-flex{
width:100%;
}
}